<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Cerber</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
<style type="text/css">
   body { background: #5F635F !important; } 
</style>

<style>
.jumbotron{
    background-color:#2E2D88;
    color:white;
}

.jumbotron2{
    background-color:#12a50d;
    color:white;
}

.tab-content {
    border-left: 10px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}


</style>

</head>
<body>
    <div class = "navbar navbar-inverse navbar-static-top">
      <div class = "container">
        <a href = "/" class = "navbar-brand">Cerber</a>
        <div class = "pull-right">
          <a href="admin" class = "navbar-brand">Options</a>
          <a href = "logout" class = "navbar-brand ">Wyloguj</a>
        </div>
      </div>
    </div>
  
  <div class = "container">
    <div class = "jumbotron jumbotron">
	<form action="{{ url_for('add_machine') }}" method=post>
         <div class="input-group input_group-lg">
          <span class="input-group-addon">Address:</span>
          <input type="text" required maxlength=128 name=address class="form-control" placeholder="Input your new machine's address here">
          <span class="input-group-btn">
            <input type=submit class="btn btn-danger" value=submit>
			
          </span>
		  </div>

    </form>
	<br>
	<form action="{{ url_for('changepc') }}" method=post>   
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	<div class="input-group input_group-lg">
	
          <span class="input-group-addon">Procesy:</span>
          <input type="number" name=processcount class="form-control" value ="{{ pcount }}">
          <span class="input-group-btn">
            <input type=submit class="btn btn-danger" value=change>
		
          </span>
		  </div>
	</div>
	</form>
	{% for message in get_flashed_messages() %}
        <center> <div name=flash type="text text-center-h1" class="label label-success">{{ message }}</div></center>
        {% endfor %}
      <p><center>IP adresses</center></p>

		{% for machine in machines %}
		<li>    {{ machine.address }}   <a href = "/deletemachine/{{ machine.id }}">remove</a>
		{% else %}
		<li><em>No machines added yet.</em>
		{% endfor %}
	

    </div>
  </div>
   <div class = "container">
    <div class = "jumbotron jumbotron">
      <p><center>Hash queue</center></p>
	 <ul class=entries>
		
		{% for entry in entries %}
		<li> {{ entry.id }}    {{ entry.hashvalue }}   {{ entry.uppercase }}    {{ entry.specials }}    {{ entry.digits }}   {{ entry.explen }} <a href = "/delete/{{ entry.id }}">Cancel</a>
		{% else %}
		<li><em>Nothing to crack yet.</em>
		{% endfor %}
		</ul>
	

    </div>
  </div>

  















<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>