<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Cerber</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
<style type="text/css">
   body { background: #5F635F !important; } 
</style>

<style>
.jumbotron{
    background-color:#2E2D88;
    color:white;
}

.jumbotron2{
    background-color:#12a50d;
    color:white;
}

.tab-content {
    border-left: 10px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}


</style>

</head>
<body>
    <div class = "navbar navbar-inverse navbar-static-top">
      <div class = "container">
        <a href = "/" class = "navbar-brand">Cerber</a>
        <div class = "pull-right">
		
        <a href="admin" class = "navbar-brand">Options</a>
        </div>
        </div>
      </div>
  
  <div class = "container">
    <div class = "jumbotron jumbotron">
      <p>
        <center>Input the hash to decode</center>
      </p>
      <p>
		<form action="{{ url_for('add_entry') }}" method=post>
         <div class="input-group input_group-lg">
          <span class="input-group-addon">MD5:</span>
          <input type="text" pattern="[A-Fa-f0-9]{32}" required maxlength=32 name=hashvalue class="form-control" placeholder="Input a md5 hash here">
          <span class="input-group-btn">
            <input type=submit class="btn btn-danger" value=Crack!>
		
          </span>
		  </div>
		  <br>
		  <br>
		  <div class="row">
          <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" name=fUC> uppercase letters</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" name=fD> digits</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" name=fS> specials</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <label for="length">Length<input type="number" value = "8" min="1" max="32" class="form-control" name=explen placeholder="predicted pass length"></label>
            </div>
          </div>
        </div>

<!-- komunikaty tutaj -->
        
          
		 
		
		 


    </form>
	{% for message in get_flashed_messages() %}
         <center> <div name=flash type="text text-center-h1" class="label label-success">{{ message }}</div></center>
         {% endfor %}<br>
        <br>
  
        
      </p>
    </div>
  </div>

  <div class = "container">
    <div class = "jumbotron jumbotron2">
      <p>
        <center><h2>Recently Cracked:</h2></center>
      </p>
      <p>
	   <ul class=entries>
		
		{% for entry in entries %}
		<li>{{ entry.hashvalue }}   {{ entry.crackedvalue }}
		{% else %}
		<li><em>Queue is empty.</em>
		{% endfor %}
		</ul>
 



      </p>
    </div>
  </div>















<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>