<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<meta name="viewport" content="width = device-width, initial-scale = 1">
		<title>Cerber</title>
		
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 
 		<style type="text/css">
   			body { background: #5F635F !important; } 
		</style>

		<style>
			.jumbotron{
 				background-color:#2E2D88;
    			color: white;
    			width: 370px;
			}

			.input-mysize{
				width: 250px;
			}

			.nav-tabs {
    			margin-bottom: 10px;
			}
		</style>
	
	</head>

	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
      		<div class = "container">
        		<a href = "/" class = "navbar-brand">Cerber</a>
        	</div>
    	</div>
		{{error}}
		<div class="container">
			<div class = "jumbotron jumbotron center-block">
				<form action="{{ url_for('login') }}" method=post class="form-signin input-mysize center-block">
        			<center><h2 class="form-signin-heading">Please  login</h2></center>
        			<label for="inputEmail" class="sr-only">Login</label>
        			<input type="text" name=username id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        			<label for="inputPassword" class="sr-only">Password</label>
        			<input type="password" id="inputPassword" name=password class="form-control" placeholder="Password" required>

      		  		

      		  		<button href= "admin_index.html" class="btn btn-lg btn-primary btn-block" type=submit>Login</button>
      			</form>
      		</div>
		</div>
	</body>
</html>